<head>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/signin.js"></script>

	<link rel="stylesheet" href="/style.css">
</head>

<div id="body">
	<div id="pic-box"><img id="logo" src="posthaste.png"></div>
	<div id="nav">
		<div class="menu-left menu">
			<ul>
				<li class="top"><a href="../sign-out">Sign Out</a></li>
				<li><a href="../delete">Close Account</a></li>
			</ul>
		</div>
		<div class="menu-right menu">
			<ul>
				<li class="top"><a href="../userlist">Member List</a></li>
				<li class="top"><a href="post">Write a Post</a></li>
				<li><a href="../feed">Recent Feed</a></li>
			</ul>
		</div>
	</div>

	<div class="box_full">

		<div class="box" id="post-box">
			<h2> <%= @friend.username %> Profile Page </h2>
			<hr class="line">
		</div>

		<div class="box" id="post-box">
			<h2><%= @friend.username %> recent posts</h2>
			<hr class="line">
			<% @current.each do |post| %>
			<h2 class="each_post">
				<span>Post#:<%= post.id %></span>...<%= post.post %>
			</h2>
			<br>
			<% end %>
		</div>

		<div class="box" id="post-box">
			<h2><%= @friend.username %> Friends</h2>
			<hr class="line">
			<% x = 1 %>
			<% @friends.each do |friend| %>
			<h2>
				<span id="friend_count"><%= x %>.  </span>
				<%= friend.username %>
			</h2>
			<br>
				<% x = x + 1 %>
			<% end %>
		</div>

	</div>

</div>