<head>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="signin.js"></script>

	<link rel="stylesheet" href="style.css">
</head>

<div id="body">

	<div id="nav">
		<div class="menu-left menu">
			<ul>
				<li class="top"><a href="sign-out">Sign Out</a></li>
				<li><a href="delete">Close Account</a></li>
			</ul>
		</div>
		<div class="menu-right menu">
			<ul>
				<li class="top"><a href="userlist">Member List</a></li>
				<li class="top"><a href="post">Write a Post</a></li>
				<li><a href="feed">Recent Feed</a></li>
			</ul>
		</div>
	</div>

	<div class="box_full">

		<div class="box" id="post-box">
			
			<h2>Your Account Information</h2>
			<hr class="line">

			<div class="info">
				<h4>NAME:</h4><h3> <%= @user.username %> </h3>
			</div>
			<div class="info">
				<h4>EMAIL:</h4><h3> <%= @user.email %> </h3>
			</div>
			<div class="info">
				<h4>ACCOUNT #:</h4><h3> <%= @user.id %> </h3>
			</div>
			<br>

			<a id="edit_profile">Edit your Profile</a>

			<form method="POST" action="/edit_user" id="edit_form">
				<div class="feed">
					<%= flash[:alert] %>
				</div>  
				<input type="text" name="[user]username" placeholder="Username">
				<br>
				<input type="text" name="[user]email" placeholder="email"> 
				<br>
				<input type="password" name="[user]password" placeholder="password"> <br>
				<input type="hidden" name ="[user]id" value=<%= @user.id%>>
				<br>
				<input type="submit" class="submit"> 
			</form>
		</div>

		<div class="box" id="post-box">
			<h2>Your Recent Posts</h2>
			<hr class="line">
			<br>

			<% @current.each do |post| %>
			<h2 class="each_post">
				<span>Post#:<%= post.id %></span>...<%= post.post %>
			</h2>
			<br>
			<% end %>
		</div>

		<div class="box" id="friend-box">
			<h2>Your Friends</h2>
			<hr class="line">
			<br>

			<% x = 1 %>
			<% @friends.each do |friend| %>
				<h2>
					<span id="friend_count"><%= x %>.  </span>
					<%= friend.username %>
				</h2>
				<br>
				<% x = x + 1 %>
			<% end %>
		</div>

	</div>

</div>